{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Computer Vision Client",
    "description": "The Computer Vision API provides state-of-the-art algorithms to process images and return information. For example, it can be used to determine if an image contains mature content, or it can be used to find all the faces in an image.  It also has other features like estimating dominant and accent colors, categorizing the content of images, and describing an image with complete English sentences.  Additionally, it can also intelligently generate images thumbnails for displaying large images effectively."
  },
  "securityDefinitions": {
    "apim_key": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "apim_key": []
    }
  ],
  "x-ms-parameterized-host": {
    "hostTemplate": "{Endpoint}",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "#/parameters/Endpoint"
      }
    ]
  },
  "host": "westcentralus.api.cognitive.microsoft.com",
  "basePath": "/vision/v2.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/recognizeText": {
      "post": {
        "description": "Recognize Text operation. When you use the Recognize Text interface, the response contains a field called 'Operation-Location'. The 'Operation-Location' field contains the URL that you must use for your Get Recognize Text Operation Result operation.",
        "operationId": "RecognizeText",
        "parameters": [
          {
            "$ref": "#/parameters/ImageUrl"
          },
          {
            "$ref": "#/parameters/TextRecognitionMode"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later. It will return Accepted immediately and include an Operation-Location header. Client side should further query the operation status using the URL specified in this header. The operation ID will expire in 48 hours.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulRecognizeTextWithUrl.json"
          }
        }
      }
    },
    "/textOperations/{operationId}": {
      "get": {
        "description": "This interface is used for getting text operation result. The URL to this interface should be retrieved from 'Operation-Location' field returned from Recognize Text interface.",
        "operationId": "GetTextOperationResult",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Id of the text operation returned in the response of the 'Recognize Text'",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns the operation status.",
            "schema": {
              "$ref": "#/definitions/TextOperationResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulGetTextOperationResult.json"
          }
        }
      }
    },
    "/read": {
      "post": {
        "description": "Use this interface to get the result of a Read operation, employing the state-of-the-art Optical Character Recognition (OCR) algorithms. When you use the Read interface, the response contains OCR results.",
        "operationId": "Read",
        "parameters": [
          {
            "$ref": "#/parameters/ImageUrl"
          },
          {
            "$ref": "#/parameters/TextRecognitionMode"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The service has accepted the request and returns the operation status.",
            "schema": {
              "$ref": "#/definitions/ReadResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulReadWithUrl.json"
          }
        }
      }
    },
    "/readDocument": {
      "post": {
        "description": "Use this interface to get the result of a Read Document operation, employing the state-of-the-art Optical Character Recognition (OCR) algorithms optimized for text-heavy documents. When you use the Read Document interface, the response contains a field called \"Operation-Location\". The \"Operation-Location\" field contains the URL that you must use for your \"Get Read Result operation\" to access OCR results.​",
        "operationId": "ReadDocument",
        "parameters": [
          {
            "$ref": "#/parameters/ImageUrl"
          },
          {
            "$ref": "#/parameters/TextRecognitionMode"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulReadDocumentWithUrl.json"
          }
        }
      }
    },
    "/getReadResult/{operationId}": {
      "get": {
        "description": "This interface is used for getting OCR results of \"Read Document\" operation. The URL to this interface should be retrieved from \"Operation-Location\" field returned from Read Document interface.",
        "operationId": "GetReadResult",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "description": "Id of read operation returned in the response of the \"Read Document\" interface.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deleteResult",
            "in": "query",
            "description": "If this parameter is set to \"true\", OCR results are immediately discarded upon successful retrieval. This is an optional parameter, if it’s not specified, OCR results are not discarded by default.",
            "type": "boolean",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns the read operation status.",
            "schema": {
              "$ref": "#/definitions/ReadResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulGetReadResult.json"
          }
        }
      }
    }
  },
  "x-ms-paths": {
    "/recognizeText?overload=stream": {
      "post": {
        "description": "Recognize Text operation. When you use the Recognize Text interface, the response contains a field called 'Operation-Location'. The 'Operation-Location' field contains the URL that you must use for your Get Recognize Text Operation Result operation.",
        "operationId": "RecognizeTextInStream",
        "parameters": [
          {
            "$ref": "#/parameters/ImageStream"
          },
          {
            "$ref": "#/parameters/TextRecognitionMode"
          }
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulRecognizeTextWithStream.json"
          }
        }
      }
    },
    "/read?overload=stream": {
      "post": {
        "description": "Use this interface to get the result of a Read operation, employing the state-of-the-art Optical Character Recognition (OCR) algorithms. When you use the Read interface, the response contains OCR results.",
        "operationId": "ReadInStream",
        "parameters": [
          {
            "$ref": "#/parameters/ImageStream"
          },
          {
            "$ref": "#/parameters/TextRecognitionMode"
          }
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The service has accepted the request and returns the operation status.",
            "schema": {
              "$ref": "#/definitions/ReadResult"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulReadWithStream.json"
          }
        }
      }
    },
    "/readDocument?overload=stream": {
      "post": {
        "description": "Use this interface to get the result of a Read Document operation, employing the state-of-the-art Optical Character Recognition (OCR) algorithms optimized for text-heavy documents. When you use the Read Document interface, the response contains a field called \"Operation-Location\". The \"Operation-Location\" field contains the URL that you must use for your \"Get Read Result operation\" to access OCR results.​",
        "operationId": "ReadDocumentInStream",
        "parameters": [
          {
            "$ref": "#/parameters/ImageStream"
          },
          {
            "$ref": "#/parameters/TextRecognitionMode"
          }
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "The service has accepted the request and will start processing later.",
            "headers": {
              "Operation-Location": {
                "description": "URL to query for status of the operation. The operation ID will expire in 48 hours. ",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/ComputerVisionError"
            }
          }
        },
        "x-ms-examples": {
          "Successful Domain Model analysis request": {
            "$ref": "./examples/SuccessfulReadDocumentWithStream.json"
          }
        }
      }
    }
  },
  "definitions": {
    "TextOperationResult": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the text operation.",
          "$ref": "#/definitions/Status"
        },
        "recognitionResult": {
          "$ref": "#/definitions/RecognitionResult"
        }
      }
    },
    "ReadResult": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the text operation.",
          "$ref": "#/definitions/Status"
        },
        "recognitionResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecognitionResult"
          }
        }
      }
    },
    "Status": {
      "type": "string",
      "enum": [
        "Not Started",
        "Running",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "TextOperationStatusCodes",
        "modelAsString": false
      },
      "x-nullable": false
    },
    "RecognitionResult": {
      "type": "object",
      "required": [
        "lines"
      ],
      "properties": {
        "lines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Line"
          }
        },
        "page": {
          "type": "integer"
        },
        "width": {
          "type": "number"
        },
        "height": {
          "type": "number"
        },
        "clockwiseOrientation": {
          "type": "number"
        }
      }
    },
    "Line": {
      "type": "object",
      "properties": {
        "boundingBox": {
          "$ref": "#/definitions/BoundingBox"
        },
        "text": {
          "type": "string"
        },
        "words": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Word"
          }
        }
      }
    },
    "Word": {
      "type": "object",
      "required": [
        "boundingBox",
        "text"
      ],
      "properties": {
        "boundingBox": {
          "$ref": "#/definitions/BoundingBox"
        },
        "text": {
          "type": "string"
        },
        "confidence": {
          "type": "string"
        }
      }
    },
    "BoundingBox": {
      "type": "array",
      "items": {
        "type": "integer",
        "x-nullable": false
      }
    },
    "ComputerVisionError": {
      "description": "Details about the API request error.",
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "enum": [
            "InvalidImageFormat",
            "UnsupportedMediaType",
            "InvalidImageUrl",
            "NotSupportedFeature",
            "NotSupportedImage",
            "Timeout",
            "InternalServerError",
            "InvalidImageSize",
            "BadArgument",
            "DetectFaceError",
            "NotSupportedLanguage",
            "InvalidThumbnailSize",
            "InvalidDetails",
            "InvalidModel",
            "CancelledRequest",
            "NotSupportedVisualFeature",
            "FailedToProcess",
            "Unspecified",
            "StorageException"
          ],
          "x-ms-enum": {
            "name": "ComputerVisionErrorCodes",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A message explaining the error reported by the service.",
          "type": "string"
        },
        "requestId": {
          "description": "A unique request identifier.",
          "type": "string"
        }
      }
    },
    "ImageUrl": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "description": "Publicly reachable URL of an image.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "TextRecognitionMode": {
      "name": "mode",
      "in": "query",
      "description": "Type of text to recognize.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string",
      "x-ms-enum": {
        "name": "TextRecognitionMode",
        "modelAsString": false
      },
      "enum": [
        "Handwritten",
        "Printed"
      ]
    },
    "ImageUrl": {
      "name": "ImageUrl",
      "in": "body",
      "required": true,
      "x-ms-parameter-location": "method",
      "x-ms-client-flatten": true,
      "description": "A JSON document with a URL pointing to the image that is to be analyzed.",
      "schema": {
        "$ref": "#/definitions/ImageUrl"
      }
    },
    "ImageStream": {
      "name": "Image",
      "in": "body",
      "required": true,
      "x-ms-parameter-location": "method",
      "description": "An image stream.",
      "schema": {
        "type": "object",
        "format": "file"
      }
    },
    "Endpoint": {
      "name": "Endpoint",
      "description": "Supported Cognitive Services endpoints.",
      "x-ms-parameter-location": "client",
      "required": true,
      "type": "string",
      "in": "path",
      "x-ms-skip-url-encoding": true
    }
  }
}